# Enade - Transformação de Dados - 01

In [2]:
# Importar bibliotecas necessárias
import pandas as pd 
import numpy as np
import os

In [3]:
# Função para limpar o DataFrame
def clean_dataset(df):
    # Substituir valores infinitos por NaN
    df.replace([np.inf, -np.inf], np.nan, inplace=True)
    
    # Remover valores NaN
    df.dropna(inplace=True)
    
    # Resetar o índice
    df = df.reset_index(drop=True)
    
    return df

In [4]:
# Caminho para o diretório extraído
data_dir = "./enade2019/microdados_Enade_2019_LGPD/2. DADOS/"

# Lista para armazenar os DataFrames
dataframes = []

In [5]:
# Listar todos os arquivos .txt no diretório de dados
txt_files = [f for f in os.listdir(data_dir) if f.endswith('.txt')]

# Ler todos os arquivos .txt e armazenar os DataFrames na lista
for txt_file in txt_files:
    # Obter o caminho completo do arquivo
    file_path = os.path.join(data_dir, txt_file)
    # Ler o arquivo como um DataFrame do Pandas, separando por ';' e usando ',' como decimal
    df = pd.read_csv(file_path, sep=";", decimal=",", low_memory=False)
    # Limpar o DataFrame
    df = clean_dataset(df)
    # Adicionar o DataFrame à lista
    dataframes.append(df)
    
# Combinar todos os DataFrames em um único DataFrame
enade = pd.concat(dataframes, ignore_index=True)

In [6]:
enade.head()

,NU_ANO,CO_CURSO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68,TP_SEXO,NU_IDADE,QE_I01,QE_I02,QE_I03
0,2019,3,1.0,1.0,10028.0,5710.0,1.0,5103403.0,51.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019,3,1.0,1.0,10028.0,5710.0,1.0,5103403.0,51.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,3,1.0,1.0,10028.0,5710.0,1.0,5103403.0,51.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,3,1.0,1.0,10028.0,5710.0,1.0,5103403.0,51.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,3,1.0,1.0,10028.0,5710.0,1.0,5103403.0,51.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#Verificando o schema da tabela
dict(enade.dtypes)

{'NU_ANO': dtype('int64'),
 'CO_CURSO': dtype('int64'),
 'CO_IES': dtype('float64'),
 'CO_CATEGAD': dtype('float64'),
 'CO_ORGACAD': dtype('float64'),
 'CO_GRUPO': dtype('float64'),
 'CO_MODALIDADE': dtype('float64'),
 'CO_MUNIC_CURSO': dtype('float64'),
 'CO_UF_CURSO': dtype('float64'),
 'CO_REGIAO_CURSO': dtype('float64'),
 'QE_I04': dtype('O'),
 'QE_I05': dtype('O'),
 'QE_I06': dtype('O'),
 'QE_I07': dtype('O'),
 'QE_I08': dtype('O'),
 'QE_I09': dtype('O'),
 'QE_I10': dtype('O'),
 'QE_I11': dtype('O'),
 'QE_I12': dtype('O'),
 'QE_I13': dtype('O'),
 'ANO_FIM_EM': dtype('float64'),
 'ANO_IN_GRAD': dtype('float64'),
 'CO_TURNO_GRADUACAO': dtype('float64'),
 'QE_I14': dtype('O'),
 'QE_I15': dtype('O'),
 'QE_I16': dtype('float64'),
 'QE_I17': dtype('O'),
 'QE_I18': dtype('O'),
 'QE_I19': dtype('O'),
 'QE_I20': dtype('O'),
 'QE_I21': dtype('O'),
 'QE_I22': dtype('O'),
 'QE_I23': dtype('O'),
 'NU_ITEM_OFG': dtype('float64'),
 'NU_ITEM_OFG_Z': dtype('float64'),
 'NU_ITEM_OFG_X': dtype('float64'),
 'NU_ITEM_OFG_N': dtype('float64'),
 'NU_ITEM_OCE': dtype('float64'),
 'NU_ITEM_OCE_Z': dtype('float64'),
 'NU_ITEM_OCE_X': dtype('float64'),
 'NU_ITEM_OCE_N': dtype('float64'),
 'DS_VT_GAB_OFG_FIN': dtype('O'),
 'DS_VT_GAB_OCE_FIN': dtype('O'),
 'DS_VT_ESC_OFG': dtype('O'),
 'DS_VT_ACE_OFG': dtype('float64'),
 'DS_VT_ESC_OCE': dtype('O'),
 'DS_VT_ACE_OCE': dtype('O'),
 'TP_PRES': dtype('float64'),
 'TP_PR_GER': dtype('float64'),
 'TP_PR_OB_FG': dtype('float64'),
 'TP_PR_DI_FG': dtype('float64'),
 'TP_PR_OB_CE': dtype('float64'),
 'TP_PR_DI_CE': dtype('float64'),
 'TP_SFG_D1': dtype('float64'),
 'TP_SFG_D2': dtype('float64'),
 'TP_SCE_D1': dtype('float64'),
 'TP_SCE_D2': dtype('float64'),
 'TP_SCE_D3': dtype('float64'),
 'NT_GER': dtype('O'),
 'NT_FG': dtype('O'),
 'NT_OBJ_FG': dtype('O'),
 'NT_DIS_FG': dtype('O'),
 'NT_FG_D1': dtype('float64'),
 'NT_FG_D1_PT': dtype('float64'),
 'NT_FG_D1_CT': dtype('float64'),
 'NT_FG_D2': dtype('float64'),
 'NT_FG_D2_PT': dtype('float64'),
 'NT_FG_D2_CT': dtype('float64'),
 'NT_CE': dtype('O'),
 'NT_OBJ_CE': dtype('O'),
 'NT_DIS_CE': dtype('O'),
 'NT_CE_D1': dtype('O'),
 'NT_CE_D2': dtype('float64'),
 'NT_CE_D3': dtype('O'),
 'CO_RS_I1': dtype('O'),
 'CO_RS_I2': dtype('O'),
 'CO_RS_I3': dtype('O'),
 'CO_RS_I4': dtype('O'),
 'CO_RS_I5': dtype('O'),
 'CO_RS_I6': dtype('O'),
 'CO_RS_I7': dtype('O'),
 'CO_RS_I8': dtype('O'),
 'CO_RS_I9': dtype('O'),
 'QE_I24': dtype('O'),
 'QE_I25': dtype('O'),
 'QE_I26': dtype('O'),
 'QE_I27': dtype('float64'),
 'QE_I28': dtype('float64'),
 'QE_I29': dtype('float64'),
 'QE_I30': dtype('float64'),
 'QE_I31': dtype('float64'),
 'QE_I32': dtype('float64'),
 'QE_I33': dtype('float64'),
 'QE_I34': dtype('float64'),
 'QE_I35': dtype('float64'),
 'QE_I36': dtype('float64'),
 'QE_I37': dtype('float64'),
 'QE_I38': dtype('float64'),
 'QE_I39': dtype('float64'),
 'QE_I40': dtype('float64'),
 'QE_I41': dtype('float64'),
 'QE_I42': dtype('float64'),
 'QE_I43': dtype('float64'),
 'QE_I44': dtype('float64'),
 'QE_I45': dtype('float64'),
 'QE_I46': dtype('float64'),
 'QE_I47': dtype('float64'),
 'QE_I48': dtype('float64'),
 'QE_I49': dtype('float64'),
 'QE_I50': dtype('float64'),
 'QE_I51': dtype('float64'),
 'QE_I52': dtype('float64'),
 'QE_I53': dtype('float64'),
 'QE_I54': dtype('float64'),
 'QE_I55': dtype('float64'),
 'QE_I56': dtype('float64'),
 'QE_I57': dtype('float64'),
 'QE_I58': dtype('float64'),
 'QE_I59': dtype('float64'),
 'QE_I60': dtype('float64'),
 'QE_I61': dtype('float64'),
 'QE_I62': dtype('float64'),
 'QE_I63': dtype('float64'),
 'QE_I64': dtype('float64'),
 'QE_I65': dtype('float64'),
 'QE_I66': dtype('float64'),
 'QE_I67': dtype('float64'),
 'QE_I68': dtype('float64'),
 'TP_SEXO': dtype('O'),
 'NU_IDADE': dtype('float64'),
 'QE_I01': dtype('O'),
 'QE_I02': dtype('O'),
 'QE_I03': dtype('O')}

Váriaveis que vamos utilizar: 

- CO_IES

- CO_CATEGAD

- CO_GRUPO

- CO_MODALIDADE

- CO_UF_CURSO

- CO_REGIAO_CURSO

- NU_IDADE

- TP_SEXO

- NT_GER

- NT_FG

- NT_CE

Mais alguns itens do questionário do estudante: 

01: Estado Civil

02: Cor ou raça

04: Escolaridade do pai

05: Escolaridade da mãe

08: Renda Familiar

10: Situação de trabalho

11: Situação de bolsa

14: Intercâmbio

15: Cotas

23: Horas de Estudo / semana

25: Motivo de escolha do curso

26: Motivo de escolha da IES

In [8]:
# Converter as colunas para o tipo correto, se necessário
# Tratar NaN antes de converter para int e preencher com 0
if 'CO_REGIAO_CURSO' in enade.columns:
    # Tratar NaN antes de converter
    enade['CO_REGIAO_CURSO'] = pd.to_numeric(enade['CO_REGIAO_CURSO'], errors='coerce').fillna(0).astype(int)
    
# Converter para float e tratar NaN
if 'NT_GER' in enade.columns:
    enade['NT_GER'] = pd.to_numeric(enade['NT_GER'], errors='coerce')

In [9]:
# Analisar a coluna NT_GER
enade.NT_GER.describe()

count    378812.000000
mean         44.272119
std          14.457398
min           0.000000
25%          33.400000
50%          44.000000
75%          54.900000
max          93.000000
Name: NT_GER, dtype: float64

In [10]:
# Contar o numero de nulos
enade.NT_GER.isnull().sum()

12721096

In [11]:
enade.shape

(13099908, 133)

In [12]:
# Quantidade Relativa De Nulos
enade.NT_GER.isnull().sum() / enade.shape[0]

0.9710828503528421

In [13]:
#Verificando valores da variavel
enade['CO_REGIAO_CURSO'].unique()

array([5, 2, 1, 3, 4, 0])

In [14]:
# Verificar quantos registros existem para cada valor de CO_REGIAO_CURSO
enade['CO_REGIAO_CURSO'].value_counts()

CO_REGIAO_CURSO
0    12665978
3      202505
2       91742
4       76788
5       34192
1       28703
Name: count, dtype: int64

In [15]:
# Filtrando a nota geral por região 
enade.loc[
    enade.CO_REGIAO_CURSO == 2 
].NT_GER.describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: NT_GER, dtype: float64

In [16]:
# Filtrando a nota geral por região 2 e contando NaNs
filtro_regiao = enade[enade['CO_REGIAO_CURSO'] == 2]
total_registros = len(filtro_regiao)
nulos_nt_ger = filtro_regiao['NT_GER'].isna().sum()
total_nt_ger = filtro_regiao['NT_GER'].notna().sum()
soma_nt_ger = filtro_regiao['NT_GER'].sum()
media_nt_ger = soma_nt_ger / total_nt_ger if total_nt_ger > 0 else 0

print(f"Total de registros na região 2: {total_registros}")
print(f"Número de NaNs em NT_GER para CO_REGIAO_CURSO == 2: {nulos_nt_ger}")
print(f"Total de registros com NT_GER para CO_REGIAO_CURSO == 2: {total_nt_ger}")
print(f"Média de NT_GER para CO_REGIAO_CURSO == 2: {media_nt_ger}")

Total de registros na região 2: 91742
Número de NaNs em NT_GER para CO_REGIAO_CURSO == 2: 91742
Total de registros com NT_GER para CO_REGIAO_CURSO == 2: 0
Média de NT_GER para CO_REGIAO_CURSO == 2: 0

In [17]:
# Exibir algumas linhas do DataFrame filtrado para a região 2
print(filtro_regiao[['CO_REGIAO_CURSO', 'NT_GER']].head(10))

      CO_REGIAO_CURSO  NT_GER
1294                2     NaN
1295                2     NaN
1296                2     NaN
1297                2     NaN
1298                2     NaN
1299                2     NaN
1300                2     NaN
1301                2     NaN
1302                2     NaN
1303                2     NaN

In [18]:
# Verificar alguns valores originais de NT_GER para a região 2 antes da conversão
original_nt_ger = enade.loc[enade['CO_REGIAO_CURSO'] == 2, 'NT_GER']
print(original_nt_ger.head(10))
print(original_nt_ger.isna().sum())
print(original_nt_ger.notna().sum())

1294   NaN
1295   NaN
1296   NaN
1297   NaN
1298   NaN
1299   NaN
1300   NaN
1301   NaN
1302   NaN
1303   NaN
Name: NT_GER, dtype: float64
91742
0

In [19]:
# Exibir algumas linhas do DataFrame filtrado para a região 2
print(filtro_regiao[['CO_REGIAO_CURSO', 'NT_GER']].head(10))

# Verificar alguns valores originais de NT_GER para a região 2 antes da conversão
original_nt_ger = enade.loc[enade['CO_REGIAO_CURSO'] == 2, 'NT_GER']
print(original_nt_ger.head(10))
print(f"Total de valores originais de NT_GER para a região 2: {len(original_nt_ger)}")
print(f"Total de NaNs em valores originais de NT_GER para a região 2: {original_nt_ger.isna().sum()}")
print(f"Total de valores não nulos de NT_GER para a região 2: {original_nt_ger.notna().sum()}")

      CO_REGIAO_CURSO  NT_GER
1294                2     NaN
1295                2     NaN
1296                2     NaN
1297                2     NaN
1298                2     NaN
1299                2     NaN
1300                2     NaN
1301                2     NaN
1302                2     NaN
1303                2     NaN
1294   NaN
1295   NaN
1296   NaN
1297   NaN
1298   NaN
1299   NaN
1300   NaN
1301   NaN
1302   NaN
1303   NaN
Name: NT_GER, dtype: float64
Total de valores originais de NT_GER para a região 2: 91742
Total de NaNs em valores originais de NT_GER para a região 2: 91742
Total de valores não nulos de NT_GER para a região 2: 0

In [20]:
# Verificar a distribuição de NaNs em NT_GER para todas as regiões
nulos_por_regiao = enade.groupby('CO_REGIAO_CURSO')['NT_GER'].apply(lambda x: x.isna().sum())
total_por_regiao = enade['CO_REGIAO_CURSO'].value_counts()
percentual_nulos_por_regiao = (nulos_por_regiao / total_por_regiao) * 100

print("Distribuição de NaNs em NT_GER por região:")
print(nulos_por_regiao)
print("\nTotal de registros por região:")
print(total_por_regiao)
print("\nPercentual de NaNs em NT_GER por região:")
print(percentual_nulos_por_regiao)

Distribuição de NaNs em NT_GER por região:
CO_REGIAO_CURSO
0    12287166
1       28703
2       91742
3      202505
4       76788
5       34192
Name: NT_GER, dtype: int64

Total de registros por região:
CO_REGIAO_CURSO
0    12665978
3      202505
2       91742
4       76788
5       34192
1       28703
Name: count, dtype: int64

Percentual de NaNs em NT_GER por região:
CO_REGIAO_CURSO
0     97.009216
1    100.000000
2    100.000000
3    100.000000
4    100.000000
5    100.000000
dtype: float64

In [21]:
# Verificar as colunas presentes em cada arquivo antes de concatenar
for txt_file in txt_files:
    file_path = os.path.join(data_dir, txt_file)
    df = pd.read_csv(file_path, sep=";", decimal=",", nrows=0)
    print(f"Arquivo {txt_file}:")
    print(df.columns)
    print("\n")

# Combinar todos os DataFrames em um único DataFrame novamente
enade = pd.concat(dataframes, ignore_index=True)

Arquivo microdados2019_arq1.txt:
Index(['NU_ANO', 'CO_CURSO', 'CO_IES', 'CO_CATEGAD', 'CO_ORGACAD', 'CO_GRUPO',
       'CO_MODALIDADE', 'CO_MUNIC_CURSO', 'CO_UF_CURSO', 'CO_REGIAO_CURSO'],
      dtype='object')


Arquivo microdados2019_arq10.txt:
Index(['NU_ANO', 'CO_CURSO', 'QE_I04'], dtype='object')


Arquivo microdados2019_arq11.txt:
Index(['NU_ANO', 'CO_CURSO', 'QE_I05'], dtype='object')


Arquivo microdados2019_arq12.txt:
Index(['NU_ANO', 'CO_CURSO', 'QE_I06'], dtype='object')


Arquivo microdados2019_arq13.txt:
Index(['NU_ANO', 'CO_CURSO', 'QE_I07'], dtype='object')


Arquivo microdados2019_arq14.txt:
Index(['NU_ANO', 'CO_CURSO', 'QE_I08'], dtype='object')


Arquivo microdados2019_arq15.txt:
Index(['NU_ANO', 'CO_CURSO', 'QE_I09'], dtype='object')


Arquivo microdados2019_arq16.txt:
Index(['NU_ANO', 'CO_CURSO', 'QE_I10'], dtype='object')


Arquivo microdados2019_arq17.txt:
Index(['NU_ANO', 'CO_CURSO', 'QE_I11'], dtype='object')


Arquivo microdados2019_arq18.txt:
Index(['NU_ANO', 'CO_CURSO', 'QE_I12'], dtype='object')


Arquivo microdados2019_arq19.txt:
Index(['NU_ANO', 'CO_CURSO', 'QE_I13'], dtype='object')


Arquivo microdados2019_arq2.txt:
Index(['NU_ANO', 'CO_CURSO', 'ANO_FIM_EM', 'ANO_IN_GRAD',
       'CO_TURNO_GRADUACAO'],
      dtype='object')


Arquivo microdados2019_arq20.txt:
Index(['NU_ANO', 'CO_CURSO', 'QE_I14'], dtype='object')


Arquivo microdados2019_arq21.txt:
Index(['NU_ANO', 'CO_CURSO', 'QE_I15'], dtype='object')


Arquivo microdados2019_arq22.txt:
Index(['NU_ANO', 'CO_CURSO', 'QE_I16'], dtype='object')


Arquivo microdados2019_arq23.txt:
Index(['NU_ANO', 'CO_CURSO', 'QE_I17'], dtype='object')


Arquivo microdados2019_arq24.txt:
Index(['NU_ANO', 'CO_CURSO', 'QE_I18'], dtype='object')


Arquivo microdados2019_arq25.txt:
Index(['NU_ANO', 'CO_CURSO', 'QE_I19'], dtype='object')


Arquivo microdados2019_arq26.txt:
Index(['NU_ANO', 'CO_CURSO', 'QE_I20'], dtype='object')


Arquivo microdados2019_arq27.txt:
Index(['NU_ANO', 'CO_CURSO', 'QE_I21'], dtype='object')


Arquivo microdados2019_arq28.txt:
Index(['NU_ANO', 'CO_CURSO', 'QE_I22'], dtype='object')


Arquivo microdados2019_arq29.txt:
Index(['NU_ANO', 'CO_CURSO', 'QE_I23'], dtype='object')


Arquivo microdados2019_arq3.txt:
Index(['NU_ANO', 'CO_CURSO', 'NU_ITEM_OFG', 'NU_ITEM_OFG_Z', 'NU_ITEM_OFG_X',
       'NU_ITEM_OFG_N', 'NU_ITEM_OCE', 'NU_ITEM_OCE_Z', 'NU_ITEM_OCE_X',
       'NU_ITEM_OCE_N', 'DS_VT_GAB_OFG_FIN', 'DS_VT_GAB_OCE_FIN',
       'DS_VT_ESC_OFG', 'DS_VT_ACE_OFG', 'DS_VT_ESC_OCE', 'DS_VT_ACE_OCE',
       'TP_PRES', 'TP_PR_GER', 'TP_PR_OB_FG', 'TP_PR_DI_FG', 'TP_PR_OB_CE',
       'TP_PR_DI_CE', 'TP_SFG_D1', 'TP_SFG_D2', 'TP_SCE_D1', 'TP_SCE_D2',
       'TP_SCE_D3', 'NT_GER', 'NT_FG', 'NT_OBJ_FG', 'NT_DIS_FG', 'NT_FG_D1',
       'NT_FG_D1_PT', 'NT_FG_D1_CT', 'NT_FG_D2', 'NT_FG_D2_PT', 'NT_FG_D2_CT',
       'NT_CE', 'NT_OBJ_CE', 'NT_DIS_CE', 'NT_CE_D1', 'NT_CE_D2', 'NT_CE_D3',
       'CO_RS_I1', 'CO_RS_I2', 'CO_RS_I3', 'CO_RS_I4', 'CO_RS_I5', 'CO_RS_I6',
       'CO_RS_I7', 'CO_RS_I8', 'CO_RS_I9'],
      dtype='object')


Arquivo microdados2019_arq30.txt:
Index(['NU_ANO', 'CO_CURSO', 'QE_I24'], dtype='object')


Arquivo microdados2019_arq31.txt:
Index(['NU_ANO', 'CO_CURSO', 'QE_I25'], dtype='object')


Arquivo microdados2019_arq32.txt:
Index(['NU_ANO', 'CO_CURSO', 'QE_I26'], dtype='object')


Arquivo microdados2019_arq4.txt:
Index(['NU_ANO', 'CO_CURSO', 'QE_I27', 'QE_I28', 'QE_I29', 'QE_I30', 'QE_I31',
       'QE_I32', 'QE_I33', 'QE_I34', 'QE_I35', 'QE_I36', 'QE_I37', 'QE_I38',
       'QE_I39', 'QE_I40', 'QE_I41', 'QE_I42', 'QE_I43', 'QE_I44', 'QE_I45',
       'QE_I46', 'QE_I47', 'QE_I48', 'QE_I49', 'QE_I50', 'QE_I51', 'QE_I52',
       'QE_I53', 'QE_I54', 'QE_I55', 'QE_I56', 'QE_I57', 'QE_I58', 'QE_I59',
       'QE_I60', 'QE_I61', 'QE_I62', 'QE_I63', 'QE_I64', 'QE_I65', 'QE_I66',
       'QE_I67', 'QE_I68'],
      dtype='object')


Arquivo microdados2019_arq5.txt:
Index(['NU_ANO', 'CO_CURSO', 'TP_SEXO'], dtype='object')


Arquivo microdados2019_arq6.txt:
Index(['NU_ANO', 'CO_CURSO', 'NU_IDADE'], dtype='object')


Arquivo microdados2019_arq7.txt:
Index(['NU_ANO', 'CO_CURSO', 'QE_I01'], dtype='object')


Arquivo microdados2019_arq8.txt:
Index(['NU_ANO', 'CO_CURSO', 'QE_I02'], dtype='object')


Arquivo microdados2019_arq9.txt:
Index(['NU_ANO', 'CO_CURSO', 'QE_I03'], dtype='object')

In [22]:
# Verificar o número de registros em cada arquivo antes da concatenação
total_registros_antes = 0
for txt_file in txt_files:
    file_path = os.path.join(data_dir, txt_file)
    df = pd.read_csv(file_path, sep=";", decimal=",")
    total_registros_antes += len(df)
    print(f"Arquivo {txt_file} lido com {len(df)} registros.")

# Verificar o número total de registros após a concatenação
print(f"\nTotal de registros em todos os arquivos antes da concatenação: {total_registros_antes}")
print(f"Total de registros após a concatenação: {len(enade)}")

Arquivo microdados2019_arq1.txt lido com 433930 registros.
Arquivo microdados2019_arq10.txt lido com 433930 registros.
Arquivo microdados2019_arq11.txt lido com 433930 registros.
Arquivo microdados2019_arq12.txt lido com 433930 registros.
Arquivo microdados2019_arq13.txt lido com 433930 registros.
Arquivo microdados2019_arq14.txt lido com 433930 registros.
Arquivo microdados2019_arq15.txt lido com 433930 registros.
Arquivo microdados2019_arq16.txt lido com 433930 registros.
Arquivo microdados2019_arq17.txt lido com 433930 registros.
Arquivo microdados2019_arq18.txt lido com 433930 registros.
Arquivo microdados2019_arq19.txt lido com 433930 registros.
Arquivo microdados2019_arq2.txt lido com 433930 registros.
Arquivo microdados2019_arq20.txt lido com 433930 registros.
Arquivo microdados2019_arq21.txt lido com 433930 registros.
Arquivo microdados2019_arq22.txt lido com 433930 registros.
Arquivo microdados2019_arq23.txt lido com 433930 registros.
Arquivo microdados2019_arq24.txt lido com 433930 registros.
Arquivo microdados2019_arq25.txt lido com 433930 registros.
Arquivo microdados2019_arq26.txt lido com 433930 registros.
Arquivo microdados2019_arq27.txt lido com 433930 registros.
Arquivo microdados2019_arq28.txt lido com 433930 registros.
Arquivo microdados2019_arq29.txt lido com 433930 registros.

C:\Users\jvgam\AppData\Local\Temp\ipykernel_16256\3546896665.py:5: DtypeWarning: Columns (12,14,15,27,28,29,30,37,38,39,40,42) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, sep=";", decimal=",")

Arquivo microdados2019_arq3.txt lido com 433930 registros.
Arquivo microdados2019_arq30.txt lido com 433930 registros.
Arquivo microdados2019_arq31.txt lido com 433930 registros.
Arquivo microdados2019_arq32.txt lido com 433930 registros.
Arquivo microdados2019_arq4.txt lido com 433930 registros.
Arquivo microdados2019_arq5.txt lido com 433930 registros.
Arquivo microdados2019_arq6.txt lido com 433930 registros.
Arquivo microdados2019_arq7.txt lido com 433930 registros.
Arquivo microdados2019_arq8.txt lido com 433930 registros.
Arquivo microdados2019_arq9.txt lido com 433930 registros.

Total de registros em todos os arquivos antes da concatenação: 13885760
Total de registros após a concatenação: 13099908